.signin{
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.4rem;   
    padding-top: 50px;
}

form  {
    display: grid;
    width: 30%;
    margin: auto;
    
  }

  input[type="text"],input[type="number"],
select,
textarea {
  width: 100%;
  padding:12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
 
  
}
input[type="submit"] {
    
    padding: 12px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    color: #fff;
    background-color: #222;
  }

  .inputField{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 30
  }

  .pass{
    display: flex;
    justify-content: stretch;
  }