
#v-navbar-I{
    display: flex;
    justify-content: space-between;
    /* margin-top: 10px; */
    border-bottom: 1px solid black;
    /* text-align: center; */
align-items: center;
height: 60px;
padding: 0 20px 0 20px;
} 

#v-navbar-II{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 20px; */
    height: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 1px solid sandybrown; */
    /* padding: 0px 100px 0px 100px; */
}  

.v-dropdown> div{
    display: flex;
    justify-content: space-between;
    /* color: aqua; */
  }
  .v-dropdown> div >div{
    font-size: small;
    font-weight: 600;
  }
  #v-navbar-child{
    display: flex;
    gap: 20px;
  }
  #v-navbar-child >div > a{
    text-decoration: none;
    color: black;
  }
  .v-website-logo{
    margin-top: 5px;
    /* border: 1px solid teal; */
  }
  .v-Consult{
    /* font-family:Arial,Sans-Serif; */
    font-family:  "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem ;
  } 
  .dropdown-content {
display: none;
position: absolute;
background-color: rgb(255,255,255);
/* border: 1px solid thistle; */
height: 500px;
width: 900px;
padding: 50% 100% 10% 100%;
box-sizing: inherit;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
/* text-align: center; */
top: 35px;
overflow-y: auto;
overflow-x: auto;

}

.dropdown-content a {
color: black;
padding: 12px;
text-decoration: none;
display: block;
}


.dropbtn {
    /* background-color: #04AA6D; */
    color: black;
    padding: 16px;
    font-size: 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-family: Arial,Sans-Serif;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content a:hover {
    /* background-color: #ddd; */
    border-bottom: 3px solid #7eabc6;
    transition: width .3s;

}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  .dropdown:hover .dropbtn {
    /* background-color: teal;  */
    border-bottom: 3px solid #7eabc6;
    /* transition: left 250ms ease-in-out, right 250ms ease-in-out; */
}

